@import url(reset.css);
section, header, footer, nav, article, aside { display: block; }

/* ------
   Blocks
   ------ */
body {
	font: 16px Helvetica, sans-serif;
	padding-bottom: 40px; /* Let the footer breathe. */
	color: #444;
	background: #666;
}
#logo {
	float: left;
	margin: 30px 0 30px 30px;
}
h1 {
	float: left;
	margin: 60px 0 30px 15px;
	font-size: 30px;
}
nav {
	clear: both;
}
#main {
	clear: both;
	width: 500px;
	margin: 30px 100px 50px;
}
article {
	margin: 15px 0;
	padding-bottom: 8px;
	color: #333;
	background: #D7E275;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
article heading {
	font-size: 20px;
}
article div {
	margin: 10px;
}
footer {
	margin: 30px;
	font-size: 12px;
}

/* --------------------------------------------
   Body copy style. Just add a class of 'copy'.
   -------------------------------------------- */
.copy a {
	text-decoration: none;
	color: #3F512A;
	background: #B0B762;
}
.copy a:hover {
	color: #2B381D;
	background: #A2A95A;
}
.copy article heading a {
	display: block;
	padding: 5px 10px;
	color: #686D3A;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
footer a {
	color: #333;
}
.copy h1,
.copy h2,
.copy h3,
.copy h4,
.copy h5,
.copy h6 {
	margin: 0 0 20px;
	font-size: 20px;
}
article { line-height: 1.4em; }
.copy p,
.copy ul,
.copy ol { margin: 10px 0; }
.copy li { margin-left: 20px; }
.copy ul li { list-style: disc; }
.copy ol li { list-style: decimal; }
.copy blockquote {
	padding-left: 15px;
	border-left: 2px solid #ccc;
	color: #666;
}
span.amp {
	/* http://simplebits.com/notebook/2008/08/14/ampersands.html */
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
}

.floatclear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
