$var title: Why do I feel compelled to compete with people who are smarter than I?
$var page: about

# About DailyDjango

This is entirely a response to my colleague [Jason Tan][jt]'s [DailyPHP][dailyphp].

This site is just pulling the most recent entries from @DailyDjango on Twitter.  It was an excuse to learn [web.py][webpy], since I thought it would be more appropriate to use Python to make this basic website than PHP (as, of course, Jason did for his site).

All the pieces

- [web.py][webpy]
- [python-twitter][pytw]
- mod_wsgi
- Stealing ideas from [Jason][jt]

[webpy]: http://webpy.org/
[pytw]: http://python-twitter.googlecode.com/
[jt]: http://jt2k.com/
[dailyphp]: http://dailyphp.jt2k.com/
