$var title: Why do I feel compelled to compete with people who are smarter than I?
$var page: about

<article>
## About DailyDjango
<div>

This is entirely a response to my colleague [Jason Tan][jt]'s [DailyPHP][dailyphp].

This site is just pulling the most recent entries from [@DailyDjango][djtw] on Twitter.  It's running on [web.py][webpy] using [python-twitter][pytw] and HTML 5.

Feel free to steal the code&mdash;It's [all on GitHub][github].

</div>
</article>

[webpy]: http://webpy.org/
[pytw]: http://python-twitter.googlecode.com/
[jt]: http://jt2k.com/
[dailyphp]: http://dailyphp.jt2k.com/
[djtw]: http://twitter.com/DailyDjango
[github]: http://github.com/trey/dailydjango