$def with (statuses, follower_latest, follower_count)
$var title: Your daily dose of snake.
$var page: home

<h2 class="followers"><a href="http://twitter.com/DailyDjango/followers">$follower_count followers</a> and counting.<br>Most recently: <a href="http://twitter.com/$follower_latest.screen_name">$follower_latest.name</a></h2>

$for s in (statuses):
	<article>
		<heading><a href="http://twitter.com/DailyDjango/status/$s.id" title="$s.relative_created_at">$s.day</a></heading>
		<div>$:s.text</div>
	</article>
