$def with (content)
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>DailyDjango ~ $content.title</title>
	<meta name="description" content="Little bits of Django from Trey Piepmeier once-a-day.">
	<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/static/css/html5.css" type="text/css" media="all">
	<!--[if lte IE 7]><link rel="stylesheet" href="/static/css/ie/all.css" type="text/css" media="screen"><![endif]-->
	<!--[if lte IE 6]>
		<script src="/css/ie/html5.js"></script>
		<link rel="stylesheet" href="/static/css/ie/6.css" type="text/css" media="screen">
	<![endif]-->
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("jquery", "1.2.6");</script>
	<script src="/static/js/load.js"></script>
</head>
<body class="$content.page">
	<header>
		<a href="/"><img id="logo" src="/static/img/dj.png" width="100" height="100" alt="Daily Django"></a>
		<h1>Another day, another bit of Django.</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="http://twitter.com/DailyDjango">Twitter</a></li>
		</ul>
	</nav>
	<div id="main" class="copy">
	$if content.page == 'about':
		$:markdown(content)
	$else:
		$:content
	</div><!-- #main -->
	<footer>
		<div id="copyright">Copyright &#169; 2009 <a href="http://treypiepmeier.com">Trey Piepmeier</a> (<a href="http://twitter.com/trey">@trey</a>).  All Rights Reserved.</div>
	</footer>
	$:render.ga()
</body>
</html>
